Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-promptrek-files, prevent-generated-files, black, isort-check, flake8-check, check-yaml, debug-statements

validate-promptrek-files:
  name: Validate PrompTrek files
  entry: promptrek validate
  language: system
  pass_filenames: true
  stages:
  - pre-commit

prevent-generated-files:
  name: Prevent committing generated prompt files
  entry: python scripts/check_generated_files.py
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true

black:
  name: black pyton linting
  entry: uv run black
  language: system
  args:
  - --check
  - --diff
  - src/
  - tests/
  pass_filenames: true

isort-check:
  name: Check import sorting with isort
  entry: uv run isort
  args:
  - --check
  - --diff
  - src/
  - tests/
  language: system
  pass_filenames: true

flake8-check:
  name: Check code style with flake8
  entry: uv run flake8
  args:
  - --check
  - --diff
  - src/
  - tests/
  language: system
  pass_filenames: true

check-yaml:
  name: Check YAML
  entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

debug-statements:
  name: Debug Statements (Python)
  entry: 'bash -c ''if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then echo "Error: Debug statements found"; exit 1; fi'' --
  
    '
  language: system

Update src/promptrek/cli/commands/hooks.py
  src/promptrek/cli/commands/hooks.py
Due: black, isort-check, flake8-check, debug-statements

Update scripts/check_generated_files.py
  scripts/check_generated_files.py
Due: black, isort-check, flake8-check, debug-statements

release: v0.0.7
  CHANGELOG.md
  pyproject.toml
Due: none

fix: update hook stages to pre-commit for validation and prevention checks
  .pre-commit-hooks.yaml
Due: check-yaml

fix: update hook stages to pre-commit for validation and prevention checks (#65)
  .pre-commit-hooks.yaml
Due: check-yaml

WIP implement migration command from v1 to v2 schema
  .promptrek.yaml
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  scripts/check_generated_files.py
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/base.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/sync_mixin.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/sync.py
  src/promptrek/cli/main.py
  src/promptrek/cli/yaml_writer.py
  src/promptrek/core/models.py
  src/promptrek/core/parser.py
  src/promptrek/core/validator.py
  tests/unit/adapters/test_adapters_v2.py
  tests/unit/test_models.py
  tests/unit/test_parser.py
  tests/unit/test_sync.py
  tests/unit/test_yaml_writer.py
  uv.lock
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements

refactor: update pre-commit hooks configuration for improved validation and prevention checks
  .pre-commit-config.yaml
Due: check-yaml

refactor: prompt handling to support UniversalPromptV2 schema
  pyproject.toml
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/registry.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/agents.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/preview.py
  src/promptrek/cli/commands/sync.py
  src/promptrek/cli/commands/validate.py
  src/promptrek/core/parser.py
  src/promptrek/core/validator.py
  src/promptrek/utils/imports.py
  src/promptrek/utils/variables.py
  tests/integration/test_cli_advanced.py
  tests/integration/test_cli_comprehensive.py
  tests/integration/test_cli_comprehensive_fixed.py
  tests/integration/test_sync_integration.py
  tests/unit/adapters/test_continue.py
  tests/unit/cli/test_init.py
  tests/unit/test_sync.py
Due: black, isort-check, flake8-check, debug-statements

refactor: enhance test configuration to isolate test-project directory for cleaner testing
  .github/copilot-instructions.md
  .gitignore
  tests/conftest.py
Due: prevent-generated-files, black, isort-check, flake8-check, debug-statements

docs: update project's PrompTrek for better vibing 😎
  project.promptrek.yaml
Due: validate-promptrek-files

fix: ensure newline at end of file in various configuration and documentation files
  .conventional-changelog.json
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
  .github/dependabot.yml
  .pre-commit-config.yaml
  LICENSE
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/fullstack-nextjs.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/python-fastapi.promptrek.yaml
  examples/advanced/rust-cli.promptrek.yaml
  examples/basic/node-api.apm.yaml
  gh-pages/404.md
  gh-pages/CNAME
  gh-pages/Gemfile
  gh-pages/_config.yml
  gh-pages/_includes/footer.html
  gh-pages/_includes/head.html
  gh-pages/_includes/header.html
  gh-pages/_includes/social.html
  gh-pages/_layouts/default.html
  gh-pages/assets/cline-logo.svg
  gh-pages/assets/q-logo.svg
  gh-pages/contributing.md
  gh-pages/developer/architecture.md
  gh-pages/feedback.md
  gh-pages/user-guide/sync.md
  script.sh
  scripts/README.md
  scripts/generate-changelog.sh
  scripts/release-rc.sh
  scripts/release.sh
  src/promptrek/cli/commands/hooks.py
  src/promptrek/cli/main.py
  src/promptrek/templates/copilot/instructions.md.j2
Due: validate-promptrek-files, black, isort-check, flake8-check, check-yaml, debug-statements

style: format argument declaration for better readability in init command
  src/promptrek/cli/main.py
Due: black, isort-check, flake8-check, debug-statements

test: add validation tests for multiple files with success and error cases
  tests/integration/test_cli.py
Due: black, isort-check, flake8-check, debug-statements

chore: add comprehensive tests for migration, models, parser, validator, and YAML writer
  pyproject.toml
  tests/integration/test_adapters_generate.py
  tests/integration/test_cli_errors.py
  tests/integration/test_generate_full.py
  tests/unit/adapters/test_base_adapter.py
  tests/unit/adapters/test_claude.py
  tests/unit/adapters/test_continue_comprehensive.py
  tests/unit/adapters/test_copilot_comprehensive.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/adapters/test_remaining_adapters.py
  tests/unit/adapters/test_tabnine_comprehensive.py
  tests/unit/adapters/test_windsurf_comprehensive.py
  tests/unit/cli/test_init.py
  tests/unit/test_conditionals_comprehensive.py
  tests/unit/test_exceptions.py
  tests/unit/test_imports.py
  tests/unit/test_migrate.py
  tests/unit/test_models.py
  tests/unit/test_parser_coverage.py
  tests/unit/test_validator_coverage.py
  tests/unit/test_yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

chore: test files for improved readability and consistency
  tests/integration/test_adapters_generate.py
  tests/integration/test_cli_errors.py
  tests/integration/test_generate_full.py
  tests/unit/adapters/test_base_adapter.py
  tests/unit/adapters/test_claude.py
  tests/unit/adapters/test_continue_comprehensive.py
  tests/unit/adapters/test_copilot_comprehensive.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/adapters/test_remaining_adapters.py
  tests/unit/adapters/test_tabnine_comprehensive.py
  tests/unit/adapters/test_windsurf_comprehensive.py
  tests/unit/cli/test_init.py
  tests/unit/test_conditionals_comprehensive.py
  tests/unit/test_exceptions.py
  tests/unit/test_imports.py
  tests/unit/test_models.py
  tests/unit/test_parser_coverage.py
  tests/unit/test_validator_coverage.py
  tests/unit/test_yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

chore: add comprehensive tests for prompt generation and validation
  tests/unit/adapters/test_claude.py
  tests/unit/adapters/test_copilot_comprehensive.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/adapters/test_remaining_adapters.py
  tests/unit/adapters/test_windsurf_comprehensive.py
  tests/unit/cli/test_validate.py
  tests/unit/test_models.py
  tests/unit/test_parser.py
  tests/unit/test_variables.py
Due: black, isort-check, flake8-check, debug-statements

test: improve assertions for file generation in Copilot adapter tests
  tests/unit/adapters/test_copilot_comprehensive.py
Due: black, isort-check, flake8-check, debug-statements

style: improve readability of assertions in Copilot adapter tests
  tests/unit/adapters/test_copilot_comprehensive.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/migrate.py
Due: black, isort-check, flake8-check, debug-statements

release: v0.1.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Enhance changelog generation with last stable version detection
  scripts/release.sh
Due: none

chore: Update version to 0.1.0 and enhance changelog generation process
  CHANGELOG.md
  pyproject.toml
  scripts/release.sh
Due: none

fix: Correct changelog sections and reorder entries for clarity
  CHANGELOG.md
Due: none

chore: Bump version to 0.1.1 in pyproject.toml
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Add v2.1 plugin support and enhance agent and command configurations
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cursor.py
  src/promptrek/core/models.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

feat: Implement plugin management commands for v2.1.0+
  src/promptrek/cli/commands/plugins.py
  src/promptrek/cli/main.py
Due: black, isort-check, flake8-check, debug-statements

feat: Implement v2.1.0 plugin support and migration
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cursor.py
  src/promptrek/cli/commands/migrate.py
  tests/integration/test_plugins_v21.py
  tests/unit/test_migrate.py
  tests/unit/test_models_v21.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements

refactor: Clean up code formatting and improve readability across multiple files
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cursor.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/plugins.py
  src/promptrek/core/models.py
  tests/integration/test_plugins_v21.py
  tests/unit/test_migrate.py
  tests/unit/test_models_v21.py
Due: black, isort-check, flake8-check, debug-statements

docs: Update README and UPF Specification for v2.1.0 schema and plugin support
  README.md
  gh-pages/user-guide/upf-specification.md
Due: none

docs: Update documentation for v2.1.0 schema and plugin support, including roadmap, quick start, and home page
  gh-pages/developer/roadmap.md
  gh-pages/index.md
  gh-pages/quick-start.md
Due: none

test: Add unit tests for plugins CLI command functionality
  tests/unit/cli/test_plugins.py
Due: black, isort-check, flake8-check, debug-statements

chore: Remove outdated implementation roadmap documentation
  gh-pages/developer/roadmap.md
Due: none

feat: Implement MCP configuration mixin for editor adapters
  README.md
  examples/v21-plugins/README.md
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/mcp_mixin.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/plugins.py
  src/promptrek/cli/main.py
  src/promptrek/utils/imports.py
  tests/integration/test_plugins_v21.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/test_imports.py
  tests/unit/test_mcp_mixin.py
  tests/unit/test_variables.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements

chore: Fixed file formatting
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/windsurf.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add v2.1 plugin support and enhance configurations (#69)
  README.md
  examples/v21-plugins/README.md
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
  gh-pages/developer/roadmap.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/upf-specification.md
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/mcp_mixin.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/plugins.py
  src/promptrek/cli/main.py
  src/promptrek/core/models.py
  src/promptrek/utils/imports.py
  tests/integration/test_plugins_v21.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/cli/test_plugins.py
  tests/unit/test_imports.py
  tests/unit/test_mcp_mixin.py
  tests/unit/test_migrate.py
  tests/unit/test_models_v21.py
  tests/unit/test_variables.py
  uv.lock
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements

fix: Update keywords and remove unnecessary dependencies in configuration files
  pyproject.toml
  uv.lock
Due: none

fix: Downgrade PyYAML dependency version to 5.4 in configuration files
  pyproject.toml
  uv.lock
Due: none

release: v0.2.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Add support for UniversalPromptV3 and enhance migration functionality
  src/promptrek/adapters/claude.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/core/models.py
  src/promptrek/core/parser.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

Path conditions:
  validate-promptrek-files: any of: \.promptrek\.ya?ml$
  prevent-generated-files: any of: (?x)(
  # GitHub Copilot files
  ^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|
  # Cursor files
  ^(\.cursorrules|\.cursor/rules/.*\.mdc|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|
  # Continue files
  ^(config\.yaml|\.continue/(config\.json|rules/.*\.md))$|
  # Claude files
  ^(\.claude/.*\.md|CLAUDE\.md)$|
  # Cline files
  ^\.cline-rules/.*\.md$|
  # Codeium files
  ^(\.codeium/.*\.json|\.codeiumrc)$|
  # Other AI editor files
  ^\.ai-prompts/
)

  black: any of: \.py$
  isort-check: any of: \.py$
  flake8-check: any of: \.py$
  check-yaml: any of: \.ya?ml$, but not: \.promptrek\.ya?ml$
  debug-statements: any of: \.py$
