Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-promptrek-files, prevent-generated-files, black, isort-check, flake8-check, check-yaml, debug-statements, promptrek-validate, promptrek-prevent-generated, promptrek-check-local-vars

validate-promptrek-files:
  name: Validate PrompTrek files
  entry: promptrek validate
  language: system
  pass_filenames: true
  stages:
  - pre-commit

prevent-generated-files:
  name: Prevent committing generated prompt files
  entry: python scripts/check_generated_files.py
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true

black:
  name: black pyton linting
  entry: uv run black
  language: system
  args:
  - --check
  - --diff
  pass_filenames: true

isort-check:
  name: Check import sorting with isort
  entry: uv run isort
  args:
  - --check
  - --diff
  language: system
  pass_filenames: true

flake8-check:
  name: Check code style with flake8
  entry: uv run flake8
  language: system
  pass_filenames: true

check-yaml:
  name: Check YAML
  entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

debug-statements:
  name: Debug Statements (Python)
  entry: 'bash -c ''if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then echo "Error: Debug statements found"; exit 1; fi'' --
  
    '
  language: system

promptrek-validate:
  name: Validate PrompTrek files
  entry: promptrek validate
  language: system
  pass_filenames: true
  stages:
  - commit

promptrek-prevent-generated:
  name: Prevent committing generated files
  entry: promptrek check-generated
  language: system
  stages:
  - commit
  always_run: false
  pass_filenames: true

promptrek-check-local-vars:
  name: Prevent committing local variables
  entry: promptrek check-generated
  language: system
  stages:
  - commit
  always_run: false
  pass_filenames: true

feat: Add support for UniversalPromptV3 in Cursor, Kiro, and Windsurf adapters
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/base.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/core/models.py
  src/promptrek/core/validator.py
  tests/integration/test_plugins_v21.py
  tests/unit/adapters/test_copilot.py
  tests/unit/test_migrate.py
  tests/unit/test_parser.py
Due: black, isort-check, flake8-check, debug-statements

feat: Enhance UPFValidator for UniversalPromptV3 with MCP server validation and add unit tests
  src/promptrek/core/validator.py
  tests/unit/test_validator.py
Due: black, isort-check, flake8-check, debug-statements

feat: Centralize deprecation warnings for nested plugin structures in adapters and parser
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/core/exceptions.py
  src/promptrek/core/parser.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add support for UniversalPromptV3 and enhance migration functionality (#70)
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/base.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/core/exceptions.py
  src/promptrek/core/models.py
  src/promptrek/core/parser.py
  src/promptrek/core/validator.py
  tests/integration/test_plugins_v21.py
  tests/unit/adapters/test_copilot.py
  tests/unit/test_migrate.py
  tests/unit/test_parser.py
  tests/unit/test_validator.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

feat: Update documentation for v3.0.0 schema, including migration guide and deprecation warnings
  README.md
  docs/DEPRECATION_WARNINGS.md
  docs/V3_MIGRATION_GUIDE.md
  gh-pages/index.md
  gh-pages/user-guide/upf-specification.md
Due: none

feat: Upgrade Project's promptrek config - schema version to 3.0.0
  project.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

chore: improve styling of test cases
  tests/unit/test_config_ignores.py
  tests/unit/test_gitignore.py
Due: black, isort-check, flake8-check, debug-statements

docs: update adapter capabilities documentation for v3.0 schema support
  gh-pages/user-guide/adapter-capabilities.md
Due: none

feat: Add .gitignore configuration for editor-specific files (#72)
  GETTING_STARTED.md
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/upf-specification.md
  src/promptrek/cli/commands/config_ignores.py
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/commands/sync.py
  src/promptrek/cli/main.py
  src/promptrek/core/models.py
  src/promptrek/utils/gitignore.py
  tests/unit/test_config_ignores.py
  tests/unit/test_gitignore.py
Due: black, isort-check, flake8-check, debug-statements

release: v0.3.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Update documentation and configuration for v3.0.0 schema, including new .gitignore entries and migration instructions
  .gitignore
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  uv.lock
Due: validate-promptrek-files, promptrek-validate

feat: Upgrade adapters and sync command to support UniversalPromptV3 schema
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/sync_mixin.py
  src/promptrek/cli/commands/sync.py
  tests/integration/test_sync_integration.py
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_continue_comprehensive.py
  tests/unit/adapters/test_copilot_comprehensive.py
  tests/unit/test_sync.py
Due: black, isort-check, flake8-check, debug-statements

feat: Extend support for UniversalPromptV3 across adapters and commands
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/cli/commands/agents.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/validate.py
  src/promptrek/utils/gitignore.py
  src/promptrek/utils/imports.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/adapters/sync_mixin.py
  src/promptrek/adapters/sync_mixin.py
Due: black, isort-check, flake8-check, debug-statements

style: fixed formatting for sync_mixin.py
  src/promptrek/adapters/sync_mixin.py
Due: black, isort-check, flake8-check, debug-statements

fix: update description fallback in SingleFileMarkdownSyncMixin to include file path
  src/promptrek/adapters/sync_mixin.py
Due: black, isort-check, flake8-check, debug-statements

feat: Upgrade adapters and sync command to support UniversalPromptV3 schema (#73)
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/sync_mixin.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/cli/commands/agents.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/sync.py
  src/promptrek/cli/commands/validate.py
  src/promptrek/utils/gitignore.py
  src/promptrek/utils/imports.py
  tests/integration/test_sync_integration.py
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_continue_comprehensive.py
  tests/unit/adapters/test_copilot_comprehensive.py
  tests/unit/test_sync.py
Due: black, isort-check, flake8-check, debug-statements

release: v0.3.1
  CHANGELOG.md
  pyproject.toml
Due: none

feat: Add new logo assets and update site configuration
  README.md
  assets/promptrek-logo-with-text.ai
  assets/promptrek-logo-with-text.png
  assets/promptrek-logo.png
  gh-pages/_config.yml
  gh-pages/_includes/head.html
  gh-pages/_includes/header.html
  gh-pages/_layouts/default.html
  gh-pages/assets/promptrek-logo-with-text.png
  gh-pages/assets/promptrek-logo.png
  gh-pages/index.md
  pyproject.toml
Due: check-yaml

feat: Update Cline adapter to support VSCode integration and enhance documentation
  README.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/upf-specification.md
  src/promptrek/adapters/cline.py
  tests/unit/adapters/test_cline.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

feat: Update Cline adapter to support VSCode integration and enhance documentation (#75)
  README.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/upf-specification.md
  src/promptrek/adapters/cline.py
  tests/unit/adapters/test_cline.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

Refactor: Remove Tabnine Adapter and Related Code
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  gh-pages/assets/tabnine.png
  gh-pages/developer/pre-commit-implementation.md
  gh-pages/developer/project-structure.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/pre-commit.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  scripts/check_generated_files.py
  src/promptrek/adapters/__init__.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/cli/commands/hooks.py
  src/promptrek/core/validator.py
  src/promptrek/utils/gitignore.py
  tests/integration/test_adapter_workflows.py
  tests/integration/test_adapters_generate.py
  tests/integration/test_advanced_workflows.py
  tests/integration/test_cli.py
  tests/unit/adapters/test_adapters_v2.py
  tests/unit/adapters/test_tabnine.py
  tests/unit/adapters/test_tabnine_comprehensive.py
  tests/unit/cli/test_generate_comprehensive.py
  tests/unit/test_imports.py
  tests/unit/test_models.py
  tests/unit/test_parser_coverage.py
  tests/unit/test_validator_coverage.py
  uv.lock
Due: validate-promptrek-files, black, isort-check, flake8-check, check-yaml, debug-statements, promptrek-validate

Refactor: Remove Tabnine Adapter and Related Code (#80)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  gh-pages/assets/tabnine.png
  gh-pages/developer/pre-commit-implementation.md
  gh-pages/developer/project-structure.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/pre-commit.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  scripts/check_generated_files.py
  src/promptrek/adapters/__init__.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/cli/commands/hooks.py
  src/promptrek/core/validator.py
  src/promptrek/utils/gitignore.py
  tests/integration/test_adapter_workflows.py
  tests/integration/test_adapters_generate.py
  tests/integration/test_advanced_workflows.py
  tests/integration/test_cli.py
  tests/unit/adapters/test_adapters_v2.py
  tests/unit/adapters/test_tabnine.py
  tests/unit/adapters/test_tabnine_comprehensive.py
  tests/unit/cli/test_generate_comprehensive.py
  tests/unit/test_imports.py
  tests/unit/test_models.py
  tests/unit/test_parser_coverage.py
  tests/unit/test_validator_coverage.py
Due: validate-promptrek-files, black, isort-check, flake8-check, check-yaml, debug-statements, promptrek-validate

ci: restrict Safety environment deployment to vx.x.x and vx.x.x-rcx tags only (#82)
  .github/workflows/security.yml
Due: check-yaml

feat: Remove deprecated marketplace metadata from models and update related tests
  gh-pages/user-guide/upf-specification.md
  src/promptrek/cli/commands/plugins.py
  src/promptrek/core/models.py
  src/promptrek/core/parser.py
  tests/unit/test_models_v21.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add tests for parsing v3 with nested plugins and validate UPFValidatorV3 functionality
  tests/unit/test_models.py
  tests/unit/test_parser.py
  tests/unit/test_validator.py
Due: black, isort-check, flake8-check, debug-statements

feat: Enhance UPF merging logic to handle None values and add comprehensive tests for validation and merging scenarios
  src/promptrek/core/parser.py
  src/promptrek/utils/imports.py
  tests/unit/adapters/test_registry.py
  tests/unit/test_imports.py
  tests/unit/test_parser.py
  tests/unit/test_validator.py
Due: black, isort-check, flake8-check, debug-statements

feat: Enhance documentation and migration guide for v3.0.0 schema, clarifying top-level plugin fields and removing unnecessary wrappers
  README.md
  docs/V3_MIGRATION_GUIDE.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/plugins.py
  src/promptrek/core/models.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements, promptrek-validate

fix: Update type hint for _processed_files to use Set for consistency
  src/promptrek/utils/imports.py
Due: black, isort-check, flake8-check, debug-statements

fix: Update type hints in test_registry.py for consistency and clarity
  tests/unit/adapters/test_registry.py
Due: black, isort-check, flake8-check, debug-statements

chore: Enhance documentation and remove deprecated marketplace metadata (#81)
  README.md
  docs/V3_MIGRATION_GUIDE.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/commands/plugins.py
  src/promptrek/core/models.py
  src/promptrek/core/parser.py
  src/promptrek/utils/imports.py
  tests/unit/adapters/test_registry.py
  tests/unit/test_imports.py
  tests/unit/test_models.py
  tests/unit/test_models_v21.py
  tests/unit/test_parser.py
  tests/unit/test_validator.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements, promptrek-validate

fix: remove unnecessary whitespace in write_promptrek_yaml function
  src/promptrek/cli/yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

chore: remove outdated schema v1 examples
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/rust-cli.promptrek.yaml
  examples/basic/node-api.apm.yaml
  examples/basic/react-typescript.apm.yaml
Due: validate-promptrek-files, check-yaml, promptrek-validate

chore: add new schema v3 examples, update documentation accordingly
  GETTING_STARTED.md
  README.md
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/fullstack-nextjs.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/python-fastapi.promptrek.yaml
  examples/basic/node-api.promptrek.yaml
  examples/basic/react-typescript.promptrek.yaml
  gh-pages/quick-start.md
  gh-pages/user-guide/upf-specification.md
Due: validate-promptrek-files, promptrek-validate

fix: add schema reference to example YAML files
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/fullstack-nextjs.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/python-fastapi.promptrek.yaml
  examples/advanced/rust-cli.promptrek.yaml
  examples/basic/node-api.promptrek.yaml
  examples/basic/react-typescript.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

Update scripts/generate_schemas.py
  scripts/generate_schemas.py
Due: black, isort-check, flake8-check, debug-statements

Update gh-pages/schema/v3.0.json
  gh-pages/schema/v3.0.json
Due: none

feat(docs): Publish JSON Schema files for UPF v2.0, v2.1, and v3.0 (#79)
  GETTING_STARTED.md
  README.md
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/fullstack-nextjs.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/python-fastapi.promptrek.yaml
  examples/advanced/rust-cli.promptrek.yaml
  examples/basic/node-api.apm.yaml
  examples/basic/node-api.promptrek.yaml
  examples/basic/react-typescript.apm.yaml
  examples/basic/react-typescript.promptrek.yaml
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/schema/README.md
  gh-pages/schema/index.md
  gh-pages/schema/v2.0.json
  gh-pages/schema/v2.1.json
  gh-pages/schema/v3.0.json
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  scripts/generate_schemas.py
  scripts/test_schemas.py
  src/promptrek/cli/yaml_writer.py
Due: validate-promptrek-files, black, isort-check, flake8-check, check-yaml, debug-statements, promptrek-validate

chore: Remove decommissioned v1.0 schema references and migration instructions from UPF specification
  gh-pages/user-guide/upf-specification.md
Due: none

Path conditions:
  validate-promptrek-files: any of: \.promptrek\.ya?ml$
  prevent-generated-files: any of: (?x)(
  # GitHub Copilot files
  ^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|
  # Cursor files
  ^(\.cursorrules|\.cursor/rules/.*\.mdc|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|
  # Continue files
  ^(config\.yaml|\.continue/(config\.json|rules/.*\.md))$|
  # Claude files
  ^(\.claude/.*\.md|CLAUDE\.md)$|
  # Cline files
  ^\.cline-rules/.*\.md$|
  # Other AI editor files
  ^\.ai-prompts/
)

  black: any of: \.py$
  isort-check: any of: \.py$
  flake8-check: any of: \.py$
  check-yaml: any of: \.ya?ml$, but not: \.promptrek\.ya?ml$
  debug-statements: any of: \.py$
  promptrek-validate: any of: \.promptrek\.ya?ml$
  promptrek-prevent-generated: any of: (?x)(^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|^(\.cursorrules|\.cursor/.*|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|^(config\.yaml|\.continue/.*)$|^(\.claude/.*|CLAUDE\.md)$|^\.clinerules/.*$|^\.windsurf/.*$|^\.kiro/.*$|^\.tabnine_commands$|^\.amazonq/.*$|^\.assistant/.*)
  promptrek-check-local-vars: any of: variables\.promptrek\.ya?ml$
