Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: promptrek-validate, promptrek-prevent-generated, promptrek-check-local-vars, black, isort-check, flake8-check, check-yaml, debug-statements

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: promptrek-validate
    name: Validate PrompTrek files
    entry: uv run promptrek validate
    language: system
    files: \.promptrek\.ya?ml$
    exclude: '\.promptrek/(variables|last-generation)\.promptrek\.ya?ml$'
    pass_filenames: true
    stages:
    - pre-commit
  - id: promptrek-prevent-generated
    name: Prevent committing generated files
    entry: uv run promptrek check-generated
    language: system
    files: (?x)(^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|^(\.cursorrules|\.cursor/.*|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|^(config\.yaml|\.continue/.*)$|^(\.claude/.*|CLAUDE\.md)$|^\.clinerules/.*$|^\.windsurf/.*$|^\.kiro/.*$|^\.amazonq/.*$|^\.assistant/.*)
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  - id: promptrek-check-local-vars
    name: Prevent committing local variables
    entry: uv run promptrek check-generated
    language: system
    files: (^variables\.promptrek\.ya?ml$|\.promptrek/variables\.promptrek\.ya?ml$)
    exclude: '^examples/'
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  # Basic code formatting and linting (local versions)
  - id: black
    name: black python linting
    entry: uv run black
    language: system
    types: [python]
    args: ["--check", "--diff"]
    pass_filenames: true

  - id: isort-check
    name: Check import sorting with isort
    entry: uv run isort
    args: ["--check", "--diff"]
    language: system
    types: [python]
    pass_filenames: true

  - id: flake8-check
    name: Check code style with flake8
    entry: uv run flake8
    language: system
    types: [python]
    pass_filenames: true

  - id: end-of-file-fixer
    name: Fix end of files
    entry: >
      bash -c 'for file in "$@"; do
      [ -s "$file" ] && [ -z "$(tail -c 1 "$file")" ] || echo >> "$file";
      done' --
    language: system
    types: [text]

  - id: check-yaml
    name: Check YAML
    entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
    language: system
    files: \.ya?ml$
    exclude: \.promptrek\.ya?ml$ 

  - id: check-merge-conflict
    name: Check for merge conflicts
    entry: >
      bash -c 'if grep -rn "^<<<<<<< \|^=======$\|^>>>>>>> " "$@"; then
      echo "Error: Merge conflict markers found"; exit 1; fi' --
    language: system
    types: [text]

  - id: debug-statements
    name: Debug Statements (Python)
    entry: >
      bash -c 'if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then
      echo "Error: Debug statements found"; exit 1; fi' --
    language: system
    files: \.py$

docs: Enhance user and workflow documentation with interactive mode details
  gh-pages/developer/uv-workflows.md
  gh-pages/user-guide.md
Due: none

docs: Add comprehensive feature breakdown for user-level configuration support
  FEATURE_BREAKDOWN_USER_LEVEL_CONFIGS.md
Due: none

feat(vscode): Add VSCode extension for PrompTrek UI
  vscode-extension/.eslintrc.json
  vscode-extension/CHANGELOG.md
  vscode-extension/CONTRIBUTING.md
  vscode-extension/INSTALLATION.md
  vscode-extension/README.md
  vscode-extension/media/logo.png
  vscode-extension/media/logo.png.info
  vscode-extension/media/logo.svg
  vscode-extension/package.json
  vscode-extension/src/commands/generate.ts
  vscode-extension/src/commands/init.ts
  vscode-extension/src/commands/preview.ts
  vscode-extension/src/commands/sync.ts
  vscode-extension/src/commands/validate.ts
  vscode-extension/src/extension.ts
  vscode-extension/src/types/promptrek.ts
  vscode-extension/src/utils/promptrekCli.ts
  vscode-extension/src/utils/yamlParser.ts
  vscode-extension/src/views/configExplorer.ts
  vscode-extension/src/views/editorStatusView.ts
  vscode-extension/tsconfig.json
Due: none

ci(vscode): Add comprehensive GitHub Actions workflows for extension
  .github/workflows/vscode-extension-ci.yml
  .github/workflows/vscode-extension-package.yml
  .github/workflows/vscode-extension-release.yml
  vscode-extension/.github/WORKFLOWS.md
  vscode-extension/README.md
  vscode-extension/RELEASE.md
Due: check-yaml

docs(vscode): Add quick start guide for GitHub Actions workflows
  vscode-extension/.github/QUICK_START.md
Due: none

feat: Add vscode-extension output directory to .gitignore
  .gitignore
Due: none

fix(vscode): Fix TypeScript compilation errors
  vscode-extension/package.json
  vscode-extension/src/views/configExplorer.ts
Due: none

docs(vscode): Add comprehensive development setup guides and helper script
  vscode-extension/DEVELOPMENT.md
  vscode-extension/QUICKSTART.md
  vscode-extension/dev.sh
Due: none

fix(vscode): Add missing icon and comprehensive F5 debugging tools
  vscode-extension/DEBUG.md
  vscode-extension/F5-TROUBLESHOOTING.md
  vscode-extension/media/icons/logo.svg
  vscode-extension/test-setup.sh
Due: none

fix(vscode): Add .vscode configuration files for F5 debugging
  vscode-extension/.vscode/launch.json
  vscode-extension/.vscode/settings.json
  vscode-extension/.vscode/tasks.json
Due: none

docs(vscode): Add explanation of missing .vscode files issue
  vscode-extension/CRITICAL-FIX.md
Due: none

fix: Update .gitignore to allow vscode-extension/.vscode/ directory
  .gitignore
Due: none

docs(vscode): Add comprehensive testing guide and test project
  vscode-extension/TESTING.md
  vscode-extension/test-project/README.md
  vscode-extension/test-project/project.promptrek.yaml
Due: promptrek-validate

docs(vscode): Add prominent CLI requirement documentation
  vscode-extension/CLI-SETUP.md
  vscode-extension/README.md
Due: none

feat(vscode): Add automatic PrompTrek CLI installation
  vscode-extension/src/extension.ts
  vscode-extension/src/utils/cliInstaller.ts
  vscode-extension/src/utils/promptrekCli.ts
Due: none

docs(vscode): Update README to highlight auto-installation feature
  vscode-extension/README.md
Due: none

feat(vscode): Update activity bar icon to use PrompTrek logo
  vscode-extension/images/icon.png
  vscode-extension/media/icons/logo.png
  vscode-extension/package.json
Due: none

fix(vscode): Improve CLI auto-installer with detailed logging and cross-platform support
  vscode-extension/src/utils/cliInstaller.ts
Due: none

feat(vscode): Update logo assets for improved branding
  assets/promptrek-logo.png
  vscode-extension/images/icon.png
Due: none

feat(vscode): enhance documentation for VSCode extension features and testing
  project.promptrek.yaml
Due: promptrek-validate

fix: Correct mobile menu CSS selector for proper functionality
  gh-pages/assets/css/style.scss
Due: none

fix: Correct mobile menu CSS selector for proper functionality (#106)
  gh-pages/assets/css/style.scss
Due: none

fix: Improve mobile menu CSS specificity and scope
  gh-pages/assets/css/style.scss
Due: none

fix: Add missing mobile menu toggle rule for smaller screens
  gh-pages/assets/css/style.scss
Due: none

fix: Add missing mobile menu toggle rule for smaller screens (#107)
  gh-pages/assets/css/style.scss
Due: none

fix: Update CSS overflow properties for improved layout and dropdown menu visibility
  gh-pages/.ruby-version
  gh-pages/_layouts/default.html
  gh-pages/assets/css/style.scss
  gh-pages/index.md
Due: none

fix: Add null check to prevent typeWriter error
  gh-pages/_includes/head.html
Due: none

fix: Add null check to prevent typeWriter error (#108)
  gh-pages/_includes/head.html
Due: none

fix: Preserve variable references during sync operations
  src/promptrek/cli/commands/sync.py
  src/promptrek/utils/variables.py
  tests/integration/test_sync_integration.py
  tests/unit/test_variables.py
Due: black, isort-check, flake8-check, debug-statements

fix: Correct f-string brace escaping in variable restoration
  src/promptrek/utils/variables.py
  tests/integration/test_sync_integration.py
Due: black, isort-check, flake8-check, debug-statements

Update tests/unit/test_variables.py
  tests/unit/test_variables.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/utils/variables.py
  src/promptrek/utils/variables.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/cli/commands/sync.py
  src/promptrek/cli/commands/sync.py
Due: black, isort-check, flake8-check, debug-statements

fix: Improve variable restoration logic to handle partial matches
  src/promptrek/cli/commands/sync.py
  src/promptrek/utils/variables.py
Due: black, isort-check, flake8-check, debug-statements

style: fix formatting issues
  src/promptrek/utils/variables.py
Due: black, isort-check, flake8-check, debug-statements

fix: variable loss during sync process (#110)
  src/promptrek/cli/commands/sync.py
  src/promptrek/utils/variables.py
  tests/integration/test_sync_integration.py
  tests/unit/test_variables.py
Due: black, isort-check, flake8-check, debug-statements

fix(amazon-q): correct agent resources path for proper rule loading
  ISSUE_111_FIX.md
  src/promptrek/adapters/amazon_q.py
  tests/unit/adapters/test_amazon_q.py
Due: black, isort-check, flake8-check, debug-statements
