Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-promptrek-files, prevent-generated-files, black-check, isort-check, flake8-check, check-yaml, debug-statements

.pre-commit-config.yaml:

# Pre-commit configuration for PrompTrek
# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:
  # PrompTrek-specific hooks - all local to avoid network dependencies
  - repo: local
    hooks:
      # Validate promptrek files
      - id: validate-promptrek-files
        name: Validate PrompTrek files
        entry: promptrek validate
        language: system
        files: \.promptrek\.ya?ml$
        pass_filenames: true
        stages: [pre-commit]

      # Prevent committing generated files
      - id: prevent-generated-files
        name: Prevent committing generated prompt files
        entry: python scripts/check_generated_files.py
        language: system
        files: |
          (?x)(
            # GitHub Copilot files
            ^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|
            # Cursor files
            ^(\.cursorrules|\.cursor/rules/.*\.mdc|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|
            # Continue files
            ^(config\.yaml|\.continue/(config\.json|rules/.*\.md))$|
            # Claude files
            ^(\.claude/.*\.md|CLAUDE\.md)$|
            # Cline files
            ^\.cline-rules/.*\.md$|
            # Codeium files
            ^(\.codeium/.*\.json|\.codeiumrc)$|
            # Other AI editor files
            ^\.ai-prompts/
          )
        stages: [pre-commit]
        always_run: false
        pass_filenames: true

      # Basic code formatting and linting (local versions)
      - id: black-check
        name: Check code formatting with black
        entry: black --check --diff
        language: system
        files: ^(src/|tests/).*\.py$

      - id: isort-check
        name: Check import sorting with isort
        entry: isort --check-only --diff
        language: system
        files: ^(src/|tests/).*\.py$

      - id: flake8-check
        name: Check code style with flake8
        entry: flake8
        language: system
        files: ^(src/|tests/).*\.py$

      # # Basic file checks
      # - id: trailing-whitespace
      #   name: Trim trailing whitespace
      #   entry: >
      #     bash -c 'if command -v sed >/dev/null 2>&1; then
      #     sed -i "s/[[:space:]]*$//" "$@"; else
      #     echo "Warning: sed not available, skipping whitespace trim"; fi' --
      #   language: system
      #   types: [text]

      - id: end-of-file-fixer
        name: Fix end of files
        entry: >
          bash -c 'for file in "$@"; do
          [ -s "$file" ] && [ -z "$(tail -c 1 "$file")" ] || echo >> "$file";
          done' --
        language: system
        types: [text]

      - id: check-yaml
        name: Check YAML
        entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
        language: system
        files: \.ya?ml$
        exclude: \.promptrek\.ya?ml$  # Our files have custom format

      - id: check-merge-conflict
        name: Check for merge conflicts
        entry: >
          bash -c 'if grep -rn "^<<<<<<< \|^=======$\|^>>>>>>> " "$@"; then
          echo "Error: Merge conflict markers found"; exit 1; fi' --
        language: system
        types: [text]

      - id: debug-statements
        name: Debug Statements (Python)
        entry: >
          bash -c 'if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then
          echo "Error: Debug statements found"; exit 1; fi' --
        language: system
        files: \.py$

fix: handle Windows-style backslash paths in check_generated_command
  src/promptrek/cli/commands/hooks.py
  tests/unit/cli/test_hooks.py
Due: black-check, isort-check, flake8-check, debug-statements

refactor: reorganize pre-commit hooks for better clarity and maintainability
  .pre-commit-config.yaml
Due: check-yaml

fix: specify file patterns for black, isort, and flake8 checks
  .pre-commit-config.yaml
  pyproject.toml
  uv.lock
Due: check-yaml

fix: remove specific directory arguments from black, isort, and flake8 checks
  .pre-commit-config.yaml
Due: check-yaml

fix: add missing newline before debug-statements hook
  .pre-commit-config.yaml
Due: check-yaml

fix: remove extra newlines before debug-statements hook
  .pre-commit-config.yaml
Due: check-yaml

feat: Add pre-commit hooks integration and commands (#54)
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  MANIFEST.in
  README.md
  docs/PRE_COMMIT_USER_GUIDE.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
  pyproject.toml
  src/promptrek/cli/commands/hooks.py
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/main.py
  tests/unit/cli/test_hooks.py
  tests/unit/cli/test_init.py
  uv.lock
Due: black-check, isort-check, flake8-check, check-yaml, debug-statements

bump: version to v0.0.4
  pyproject.toml
Due: none

bump: update version to 0.0.5 in pyproject.toml and uv.lock
  pyproject.toml
  uv.lock
Due: none

fix: update pre-commit hook args and remove Windsurf references from documentation feat: update README and documentation links for better clarity
  .pre-commit-config.yaml
  README.md
  docs/ADAPTER_CAPABILITIES.md
  docs/CHANGELOG_PROCESS.md
  gh-pages/index.md
  pyproject.toml
  src/promptrek/__init__.py
  src/promptrek/cli/main.py
Due: black-check, isort-check, flake8-check, check-yaml, debug-statements

Update README.md
  README.md
Due: none

fix: update pre-commit hook args and remove Windsurf references from documentation (#55)
  .pre-commit-config.yaml
  README.md
  docs/ADAPTER_CAPABILITIES.md
  docs/CHANGELOG_PROCESS.md
  gh-pages/index.md
  pyproject.toml
  src/promptrek/__init__.py
  src/promptrek/cli/main.py
Due: black-check, isort-check, flake8-check, check-yaml, debug-statements

bump: update version to 0.0.6 in pyproject.toml and uv.lock; update changelog
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none

docs: update Continue icon URL and rename .clinerules to .cline_rules.md; remove redundant feature card
  gh-pages/index.md
Due: none

fix: update file name from .cline_rules.md to .clinerules/context.md
  gh-pages/index.md
Due: none

docs: update file names in command example for clarity
  gh-pages/index.md
Due: none

docs: add new SVG and PNG assets for editor icons; update index.md to reference local assets
  gh-pages/assets/claude-code.svg
  gh-pages/assets/cursor.png
  gh-pages/assets/tabnine.png
  gh-pages/assets/windsurf.svg
  gh-pages/index.md
Due: none

docs: remove references to agent-specific instructions in documentation
  GETTING_STARTED.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
Due: none

feat: add support for local variables file and prevent accidental commits
  .flake8
  .gitignore
  .pre-commit-hooks.yaml
  docs/ADVANCED_FEATURES.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
  src/promptrek/adapters/cline.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/hooks.py
  src/promptrek/cli/commands/init.py
  src/promptrek/utils/variables.py
  tests/unit/test_local_variables.py
Due: black-check, isort-check, flake8-check, check-yaml, debug-statements

test: add check for new local variable hook in install_hooks_command tests
  tests/unit/cli/test_hooks.py
Due: black-check, isort-check, flake8-check, debug-statements

Update src/promptrek/utils/variables.py
  src/promptrek/utils/variables.py
Due: black-check, isort-check, flake8-check, debug-statements

test: add assertion for local variable hook in install_hooks_command tests
  tests/unit/cli/test_hooks.py
Due: black-check, isort-check, flake8-check, debug-statements

feat: add support for local variables file and prevent accidental commits (#59)
  .flake8
  .gitignore
  .pre-commit-hooks.yaml
  docs/ADVANCED_FEATURES.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
  src/promptrek/adapters/cline.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/hooks.py
  src/promptrek/cli/commands/init.py
  src/promptrek/utils/variables.py
  tests/unit/cli/test_hooks.py
  tests/unit/test_local_variables.py
Due: black-check, isort-check, flake8-check, check-yaml, debug-statements

feat: Add MCP server configuration for PrompTrek project
  docs/MCP-USER-GUIDE.md
  examples/mcp.promptrek.json
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
  mcp.promptrek.json
  src/promptrek/cli/commands/mcp.py
  src/promptrek/cli/main.py
  src/promptrek/core/exceptions.py
  src/promptrek/core/mcp_generator.py
  src/promptrek/core/mcp_parser.py
  src/promptrek/core/models.py
  tests/unit/test_mcp_generator.py
  tests/unit/test_mcp_parser.py
Due: black-check, isort-check, flake8-check, debug-statements

feat: Enhance MCP configuration with variable substitution support and add local variables file example
  docs/MCP-USER-GUIDE.md
  examples/mcp.promptrek.json
  examples/variables.promptrek.yaml.example
  gh-pages/user-guide.md
  scripts/check_generated_files.py
  src/promptrek/cli/commands/mcp.py
  src/promptrek/core/mcp_generator.py
  src/promptrek/core/mcp_parser.py
  tests/unit/test_mcp_integration.py
  tests/unit/test_mcp_parser.py
Due: black-check, isort-check, flake8-check, debug-statements

feat: Add MarkdownSyncMixin for bidirectional sync support in adapters
  .promptrek.yaml
  docs/ADAPTERS.md
  gh-pages/index.md
  gh-pages/user-guide.md
  src/promptrek/adapters/__init__.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/codeium.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/sync_mixin.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/adapters/windsurf.py
Due: validate-promptrek-files, black-check, isort-check, flake8-check, debug-statements

feat: Update adapter documentation and tests for Windsurf integration; remove Codeium references
  docs/ADAPTERS.md
  docs/ADAPTER_CAPABILITIES.md
  docs/UPF_SPECIFICATION.md
  tests/unit/adapters/test_amazon_q.py
  tests/unit/adapters/test_codeium.py
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_jetbrains.py
  tests/unit/adapters/test_kiro.py
  tests/unit/adapters/test_tabnine.py
  tests/unit/adapters/test_windsurf.py
Due: black-check, isort-check, flake8-check, debug-statements

Update src/promptrek/adapters/claude.py
  src/promptrek/adapters/claude.py
Due: black-check, isort-check, flake8-check, debug-statements

Apply suggestion from @Copilot
  src/promptrek/adapters/sync_mixin.py
Due: black-check, isort-check, flake8-check, debug-statements

feat: add type hints to __init__ methods across multiple adapter classes
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/registry.py
  src/promptrek/adapters/sync_mixin.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/adapters/windsurf.py
Due: black-check, isort-check, flake8-check, debug-statements

refactor: update file assertions in tests for cross-platform compatibility
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_jetbrains.py
  tests/unit/adapters/test_kiro.py
  tests/unit/adapters/test_windsurf.py
Due: black-check, isort-check, flake8-check, debug-statements

feat: update tests to replace Codeium references with Windsurf in adapter workflows
  tests/integration/test_adapter_workflows.py
  tests/integration/test_advanced_workflows.py
  tests/integration/test_cli_advanced.py
  tests/integration/test_cli_comprehensive.py
Due: black-check, isort-check, flake8-check, debug-statements

fix: update validator to recognize windsurf instead of codeium as valid editor
  src/promptrek/core/validator.py
Due: black-check, isort-check, flake8-check, debug-statements

test: add comprehensive tests for sync mixin classes to improve coverage
  tests/unit/adapters/test_sync_mixin.py
Due: black-check, isort-check, flake8-check, debug-statements

fix: sync support across editos (#61)
  .promptrek.yaml
  docs/ADAPTERS.md
  docs/ADAPTER_CAPABILITIES.md
  docs/UPF_SPECIFICATION.md
  gh-pages/index.md
  gh-pages/user-guide.md
  src/promptrek/adapters/__init__.py
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/codeium.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/registry.py
  src/promptrek/adapters/sync_mixin.py
  src/promptrek/adapters/tabnine.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/core/validator.py
  tests/integration/test_adapter_workflows.py
  tests/integration/test_advanced_workflows.py
  tests/integration/test_cli_advanced.py
  tests/integration/test_cli_comprehensive.py
  tests/unit/adapters/test_amazon_q.py
  tests/unit/adapters/test_codeium.py
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_jetbrains.py
  tests/unit/adapters/test_kiro.py
  tests/unit/adapters/test_sync_mixin.py
  tests/unit/adapters/test_tabnine.py
  tests/unit/adapters/test_windsurf.py
Due: validate-promptrek-files, black-check, isort-check, flake8-check, debug-statements

refactor: remove check for missing docs directory and delete obsolete README_FIXED_TESTS.md
  .github/workflows/pr.yml
  tests/integration/README_FIXED_TESTS.md
Due: check-yaml

docs: enhance user guide navigation and improve accessibility features
  .promptrek.yaml
  gh-pages/_layouts/guide.html
  gh-pages/assets/css/style.scss
Due: validate-promptrek-files

docs: migrate all documentation to GitHub Pages and delete docs directory (#62)
  .github/workflows/pr.yml
  .promptrek.yaml
  README.md
  gh-pages/_layouts/guide.html
  gh-pages/assets/css/style.scss
  gh-pages/contributing.md
  gh-pages/developer/architecture.md
  gh-pages/developer/changelog-process.md
  gh-pages/developer/pre-commit-implementation.md
  gh-pages/developer/project-structure.md
  gh-pages/developer/roadmap.md
  gh-pages/developer/uv-workflows.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/pre-commit.md
  gh-pages/user-guide/sync.md
  gh-pages/user-guide/upf-specification.md
  tests/integration/README_FIXED_TESTS.md
Due: validate-promptrek-files, check-yaml

refactor: update editor support and configurations; replace Codeium with Windsurf
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  README.md
  examples/basic/react-typescript.apm.yaml
  gh-pages/developer/pre-commit-implementation.md
  gh-pages/developer/project-structure.md
  gh-pages/developer/roadmap.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/pre-commit.md
  scripts/check_generated_files.py
  src/promptrek/adapters/__init__.py
  src/promptrek/cli/commands/hooks.py
  tests/integration/test_adapter_workflows.py
  tests/integration/test_advanced_features.py
Due: black-check, isort-check, flake8-check, check-yaml, debug-statements

chore: remove nightly workflow configuration
  .github/workflows/nightly.yml
Due: check-yaml
