Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: promptrek-validate, promptrek-prevent-generated, promptrek-check-local-vars, black, isort-check, flake8-check, check-yaml, debug-statements

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: promptrek-validate
    name: Validate PrompTrek files
    entry: uv run promptrek validate
    language: system
    files: \.promptrek\.ya?ml$
    exclude: '\.promptrek/(variables|last-generation)\.promptrek\.ya?ml$'
    pass_filenames: true
    stages:
    - pre-commit
  - id: promptrek-prevent-generated
    name: Prevent committing generated files
    entry: uv run promptrek check-generated
    language: system
    files: (?x)(^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|^(\.cursorrules|\.cursor/.*|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|^(config\.yaml|\.continue/.*)$|^(\.claude/.*|CLAUDE\.md)$|^\.clinerules/.*$|^\.windsurf/.*$|^\.kiro/.*$|^\.amazonq/.*$|^\.assistant/.*)
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  - id: promptrek-check-local-vars
    name: Prevent committing local variables
    entry: uv run promptrek check-generated
    language: system
    files: (^variables\.promptrek\.ya?ml$|\.promptrek/variables\.promptrek\.ya?ml$)
    exclude: '^examples/'
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  # Basic code formatting and linting (local versions)
  - id: black
    name: black python linting
    entry: uv run black
    language: system
    types: [python]
    args: ["--check", "--diff"]
    pass_filenames: true

  - id: isort-check
    name: Check import sorting with isort
    entry: uv run isort
    args: ["--check", "--diff"]
    language: system
    types: [python]
    pass_filenames: true

  - id: flake8-check
    name: Check code style with flake8
    entry: uv run flake8
    language: system
    types: [python]
    pass_filenames: true

  - id: end-of-file-fixer
    name: Fix end of files
    entry: >
      bash -c 'for file in "$@"; do
      [ -s "$file" ] && [ -z "$(tail -c 1 "$file")" ] || echo >> "$file";
      done' --
    language: system
    types: [text]

  - id: check-yaml
    name: Check YAML
    entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
    language: system
    files: \.ya?ml$
    exclude: \.promptrek\.ya?ml$ 

  - id: check-merge-conflict
    name: Check for merge conflicts
    entry: >
      bash -c 'if grep -rn "^<<<<<<< \|^=======$\|^>>>>>>> " "$@"; then
      echo "Error: Merge conflict markers found"; exit 1; fi' --
    language: system
    types: [text]

  - id: debug-statements
    name: Debug Statements (Python)
    entry: >
      bash -c 'if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then
      echo "Error: Debug statements found"; exit 1; fi' --
    language: system
    files: \.py$

feat: enhance built-in variable handling to derive PROJECT_NAME from git repository or fallback to directory name
  gh-pages/quick-start.md
  gh-pages/user-guide/advanced-features.md
  src/promptrek/utils/variables.py
  tests/unit/test_dynamic_variables.py
Due: black, isort-check, flake8-check, debug-statements

Update tests/unit/cli/test_generate_comprehensive.py
  tests/unit/cli/test_generate_comprehensive.py
Due: black, isort-check, flake8-check, debug-statements

Update tests/integration/test_refresh_command.py
  tests/integration/test_refresh_command.py
Due: black, isort-check, flake8-check, debug-statements

fix: reorder import statement for determine_labels to comply with PEP 8 guidelines
  .github/scripts/test_determine_labels.py
Due: black, isort-check, flake8-check, debug-statements

feat: update PROJECT_NAME handling to derive from git remote URL and improve fallback logic
  gh-pages/quick-start.md
  gh-pages/user-guide/advanced-features.md
  src/promptrek/cli/commands/generate.py
  src/promptrek/utils/variables.py
  tests/unit/test_dynamic_variables.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/generate.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/utils/variables.py
  src/promptrek/utils/variables.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/core/models.py
  src/promptrek/core/models.py
Due: black, isort-check, flake8-check, debug-statements

feat: add dynamic variables with built-in and command-based support (#100)
  .github/prompts/coding.prompt.md
  .github/scripts/test_determine_labels.py
  .gitignore
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  CHANGELOG.md
  examples/dynamic-variables/.promptrek/variables.promptrek.yaml
  examples/dynamic-variables/README.md
  examples/dynamic-variables/project.promptrek.yaml
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/advanced-features.md
  project.promptrek.yaml
  src/promptrek/adapters/claude.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/refresh.py
  src/promptrek/cli/main.py
  src/promptrek/core/models.py
  src/promptrek/utils/variables.py
  tests/integration/test_adapters_generate.py
  tests/integration/test_generate_full.py
  tests/integration/test_refresh_command.py
  tests/unit/cli/test_generate_comprehensive.py
  tests/unit/test_dynamic_variables.py
  uv.lock
Due: promptrek-validate, promptrek-prevent-generated, black, isort-check, flake8-check, check-yaml, debug-statements

release: v0.5.0
  CHANGELOG.md
  pyproject.toml
Due: none

feat: add interactive CLI wizard with ASCII banner and guided workflows
  README.md
  pyproject.toml
  src/promptrek/cli/interactive.py
  src/promptrek/cli/main.py
  tests/unit/cli/test_interactive.py
Due: black, isort-check, flake8-check, debug-statements

docs: update gh-pages documentation for interactive CLI wizard
  gh-pages/index.md
  gh-pages/quick-start.md
Due: none

refactor: clean up imports and improve code formatting in interactive CLI
  src/promptrek/cli/interactive.py
  tests/unit/cli/test_interactive.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

Apply suggestion from @Copilot
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

fix: update output parameter naming for consistency in workflow functions
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/cli/interactive.py
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

Update README.md
  README.md
Due: none

fix: support CLAUDE.md in both root and .claude/ directories
  src/promptrek/adapters/claude.py
Due: black, isort-check, flake8-check, debug-statements

Add unit tests for refresh command and enhance model validation
  tests/unit/cli/test_interactive.py
  tests/unit/cli/test_refresh.py
  tests/unit/test_models.py
Due: black, isort-check, flake8-check, debug-statements

refactor: update init command to use schema version parameter and enhance interactive CLI variable input handling
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/interactive.py
  src/promptrek/cli/main.py
  tests/unit/cli/test_init.py
  tests/unit/cli/test_interactive.py
Due: black, isort-check, flake8-check, debug-statements

feat: add config_gitignore parameter to init_command and update interactive workflow
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

Update tests/unit/cli/test_interactive.py
  tests/unit/cli/test_interactive.py
Due: black, isort-check, flake8-check, debug-statements

Update tests/unit/cli/test_refresh.py
  tests/unit/cli/test_refresh.py
Due: black, isort-check, flake8-check, debug-statements

style: format conditional check for terminal interactivity in run_interactive_mode
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

feat: add cancellation handling for variable input and preview mode in workflow_generate_config
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add interactive CLI wizard with guided workflows (#101)
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  pyproject.toml
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/interactive.py
  src/promptrek/cli/main.py
  tests/unit/cli/test_init.py
  tests/unit/cli/test_interactive.py
  tests/unit/cli/test_refresh.py
  tests/unit/test_models.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

fix: clarify file path preference in ClaudeAdapter documentation
  src/promptrek/adapters/claude.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

fix: update comment to clarify support for both CLAUDE.md locations for backward compatibility
  src/promptrek/adapters/claude.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/adapters/claude.py
  src/promptrek/adapters/claude.py
Due: black, isort-check, flake8-check, debug-statements

feat: Update release script to include uv.lock versioning
  scripts/release.sh
Due: none

fix: update documentation to clarify preference for CLAUDE.md location
  src/promptrek/adapters/claude.py
Due: black, isort-check, flake8-check, debug-statements

feat: Update release script to include uv.lock versioning (#105)
  scripts/release.sh
Due: none

fix: Claude editor sync command bug (#104)
  src/promptrek/adapters/claude.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

release: v0.6.0
  CHANGELOG.md
  pyproject.toml
  uv.lock
Due: none
