Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: promptrek-validate, promptrek-prevent-generated, promptrek-check-local-vars, black, isort-check, flake8-check, check-yaml, debug-statements

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: promptrek-validate
    name: Validate PrompTrek files
    entry: uv run promptrek validate
    language: system
    files: \.promptrek\.ya?ml$
    pass_filenames: true
    stages:
    - pre-commit
  - id: promptrek-prevent-generated
    name: Prevent committing generated files
    entry: uv run promptrek check-generated
    language: system
    files: (?x)(^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|^(\.cursorrules|\.cursor/.*|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|^(config\.yaml|\.continue/.*)$|^(\.claude/.*|CLAUDE\.md)$|^\.clinerules/.*$|^\.windsurf/.*$|^\.kiro/.*$|^\.amazonq/.*$|^\.assistant/.*)
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  - id: promptrek-check-local-vars
    name: Prevent committing local variables
    entry: uv run promptrek check-generated
    language: system
    files: (^variables\.promptrek\.ya?ml$|\.promptrek/variables\.promptrek\.ya?ml$)
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  # Basic code formatting and linting (local versions)
  - id: black
    name: black pyton linting
    entry: uv run black
    language: system
    types: [python]
    args: ["--check", "--diff"]
    pass_filenames: true

  - id: isort-check
    name: Check import sorting with isort
    entry: uv run isort
    args: ["--check", "--diff"]
    language: system
    types: [python]
    pass_filenames: true

  - id: flake8-check
    name: Check code style with flake8
    entry: uv run flake8
    language: system
    types: [python]
    pass_filenames: true

  - id: end-of-file-fixer
    name: Fix end of files
    entry: >
      bash -c 'for file in "$@"; do
      [ -s "$file" ] && [ -z "$(tail -c 1 "$file")" ] || echo >> "$file";
      done' --
    language: system
    types: [text]

  - id: check-yaml
    name: Check YAML
    entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
    language: system
    files: \.ya?ml$
    exclude: \.promptrek\.ya?ml$ 

  - id: check-merge-conflict
    name: Check for merge conflicts
    entry: >
      bash -c 'if grep -rn "^<<<<<<< \|^=======$\|^>>>>>>> " "$@"; then
      echo "Error: Merge conflict markers found"; exit 1; fi' --
    language: system
    types: [text]

  - id: debug-statements
    name: Debug Statements (Python)
    entry: >
      bash -c 'if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then
      echo "Error: Debug statements found"; exit 1; fi' --
    language: system
    files: \.py$

feat: enhance Windsurf adapter with bidirectional sync support and clarify file handling
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/sync.md
  src/promptrek/adapters/windsurf.py
Due: black, isort-check, flake8-check, debug-statements

feat: update feature badges and descriptions for clarity; adjust schema version in examples
  gh-pages/index.md
  gh-pages/user-guide/workflows.md
  src/promptrek/adapters/claude.py
  src/promptrek/core/models.py
Due: black, isort-check, flake8-check, debug-statements

feat: enhance ClineAdapter to warn and confirm before replacing existing directories; improve YAML writer's schema version parsing
  src/promptrek/adapters/cline.py
  src/promptrek/cli/yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

test: improve agent description validation and update system prompt format
  tests/unit/adapters/test_claude.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/adapters/cline.py
  src/promptrek/adapters/cline.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/core/models.py
  src/promptrek/core/models.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/cli/yaml_writer.py
  src/promptrek/cli/yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

fix: simplify description property in JSON schema for Agent
  gh-pages/schema/v3.1.0.json
  gh-pages/schema/v3.1.json
Due: none

fix: refine description property for Agent in JSON schema
  gh-pages/schema/v3.1.0.json
  gh-pages/schema/v3.1.json
Due: none

fix: update type hints and improve agent model description handling
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/cli/yaml_writer.py
  src/promptrek/core/models.py
  tests/unit/adapters/test_claude.py
Due: black, isort-check, flake8-check, debug-statements

feat: Hide previous PR Validation summaries when tests pass
  .github/workflows/pr.yml
Due: check-yaml

fix: enhance prompt extraction and agent content formatting in ClaudeAdapter
  src/promptrek/adapters/claude.py
Due: black, isort-check, flake8-check, debug-statements

Update .github/workflows/pr.yml
  .github/workflows/pr.yml
Due: check-yaml

ci: Update PR Validation Summary on Test Failure (#95)
  .github/workflows/pr.yml
Due: check-yaml

fix: update feature icons for improved visual representation in index.md
  gh-pages/index.md
Due: none

fix: update feature descriptions and enhance YAML frontmatter format in ClaudeAdapter
  gh-pages/index.md
  gh-pages/user-guide/pre-commit.md
  gh-pages/user-guide/workflows.md
  src/promptrek/adapters/claude.py
  tests/unit/adapters/test_claude.py
Due: black, isort-check, flake8-check, debug-statements

chore: Add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

fix: update sync terminology to reflect round-trip sync capabilities across documentation
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/schema/index.md
  gh-pages/user-guide.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/sync.md
  gh-pages/user-guide/upf-specification.md
Due: none

fix: update default Python version to 3.12 in security workflow
  .github/workflows/security.yml
Due: check-yaml

fix: improve safety scan output handling and error management
  .github/workflows/security.yml
Due: check-yaml

fix: add SAFETY_API_KEY environment variable for Safety scans and improve handling of missing key
  .github/workflows/security.yml
Due: check-yaml

fix: Implement code changes to enhance functionality and improve performance
  pyproject.toml
  uv.lock
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

fix: format output for detected labels in debugging information
  .github/scripts/determine_labels.py
Due: black, isort-check, flake8-check, debug-statements

fix: update pydantic version specifier to allow compatible updates
  uv.lock
Due: none

ci: enhance dependency installation and improve formatting checks in PR workflow
  .github/workflows/pr.yml
Due: check-yaml

ci: update Python setup and caching in PR workflow
  .github/workflows/pr.yml
Due: check-yaml

ci: enhance PR comment generation and minimize outdated code quality comments
  .github/workflows/pr.yml
Due: check-yaml

ci: update PR comment generation condition and filter for bot comments
  .github/workflows/pr.yml
Due: check-yaml

ci: resolve security findings from Safety CLI (#97)
  .github/scripts/determine_labels.py
  .github/workflows/pr.yml
  pyproject.toml
  uv.lock
Due: black, isort-check, flake8-check, check-yaml, debug-statements

release: v0.4.0
  CHANGELOG.md
  pyproject.toml
Due: none

docs: update documentation to reflect schema versioning changes and improvements
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/schema/README.md
  gh-pages/schema/index.md
  gh-pages/user-guide.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/sync.md
  gh-pages/user-guide/workflows.md
Due: none

feat: add dynamic variables with built-in and command-based support
  .gitignore
  .pre-commit-hooks.yaml
  CHANGELOG.md
  examples/dynamic-variables/.promptrek/variables.promptrek.yaml
  examples/dynamic-variables/README.md
  examples/dynamic-variables/project.promptrek.yaml
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/refresh.py
  src/promptrek/cli/main.py
  src/promptrek/core/models.py
  src/promptrek/utils/variables.py
  tests/integration/test_refresh_command.py
  tests/unit/test_dynamic_variables.py
Due: promptrek-validate, promptrek-check-local-vars, black, isort-check, flake8-check, check-yaml, debug-statements

feat: enhance variable handling in refresh and generate commands with CLI overrides support
  .github/prompts/coding.prompt.md
  .github/scripts/test_determine_labels.py
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/advanced-features.md
  project.promptrek.yaml
  src/promptrek/adapters/claude.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/refresh.py
  src/promptrek/cli/main.py
  src/promptrek/utils/variables.py
  tests/integration/test_adapters_generate.py
  tests/integration/test_generate_full.py
  tests/integration/test_refresh_command.py
  tests/unit/cli/test_generate_comprehensive.py
  tests/unit/test_dynamic_variables.py
  uv.lock
Due: promptrek-validate, promptrek-prevent-generated, black, isort-check, flake8-check, check-yaml, debug-statements

feat: update dynamic variable handling and improve error messages in tests
  gh-pages/index.md
  src/promptrek/core/models.py
  tests/integration/test_refresh_command.py
  tests/unit/cli/test_generate_comprehensive.py
  tests/unit/test_dynamic_variables.py
Due: black, isort-check, flake8-check, debug-statements

feat: integrate built-in variable support in metadata saving process
  src/promptrek/cli/commands/generate.py
Due: black, isort-check, flake8-check, debug-statements

feat: refactor built-in variable handling in metadata saving to use dynamic extraction
  src/promptrek/cli/commands/generate.py
Due: black, isort-check, flake8-check, debug-statements

test: improve assertions in refresh command tests for successful execution
  tests/integration/test_refresh_command.py
Due: black, isort-check, flake8-check, debug-statements

Update tests/integration/test_refresh_command.py
  tests/integration/test_refresh_command.py
Due: black, isort-check, flake8-check, debug-statements
