Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: validate-promptrek-files, prevent-generated-files, black, isort-check, flake8-check, check-yaml, debug-statements, promptrek-validate, promptrek-prevent-generated, promptrek-check-local-vars

validate-promptrek-files:
  name: Validate PrompTrek files
  entry: promptrek validate
  language: system
  pass_filenames: true
  stages:
  - pre-commit

prevent-generated-files:
  name: Prevent committing generated prompt files
  entry: python scripts/check_generated_files.py
  language: system
  stages:
  - pre-commit
  always_run: false
  pass_filenames: true

black:
  name: black pyton linting
  entry: uv run black
  language: system
  args:
  - --check
  - --diff
  pass_filenames: true

isort-check:
  name: Check import sorting with isort
  entry: uv run isort
  args:
  - --check
  - --diff
  language: system
  pass_filenames: true

flake8-check:
  name: Check code style with flake8
  entry: uv run flake8
  language: system
  pass_filenames: true

check-yaml:
  name: Check YAML
  entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
  language: system

debug-statements:
  name: Debug Statements (Python)
  entry: 'bash -c ''if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then echo "Error: Debug statements found"; exit 1; fi'' --
  
    '
  language: system

promptrek-validate:
  name: Validate PrompTrek files
  entry: promptrek validate
  language: system
  pass_filenames: true
  stages:
  - commit

promptrek-prevent-generated:
  name: Prevent committing generated files
  entry: promptrek check-generated
  language: system
  stages:
  - commit
  always_run: false
  pass_filenames: true

promptrek-check-local-vars:
  name: Prevent committing local variables
  entry: promptrek check-generated
  language: system
  stages:
  - commit
  always_run: false
  pass_filenames: true

docs: Remove headless agent instructions from documentation
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/sync.md
Due: none

chore: Remove references to the implementation roadmap from documentation
  GETTING_STARTED.md
  README.md
  gh-pages/contributing.md
  gh-pages/developer/project-structure.md
  gh-pages/user-guide/sync.md
Due: none

docs: Update documentation to reflect changes in advanced features and schema support
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/schema/index.md
  gh-pages/user-guide.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

fix: Cursor adapter and UPF models with content metadata support
  src/promptrek/adapters/cursor.py
  src/promptrek/core/models.py
  tests/unit/adapters/test_cursor.py
Due: black, isort-check, flake8-check, debug-statements

refactor: Improve code readability and consistency in Cursor adapter and models
  gh-pages/user-guide/adapters.md
  src/promptrek/adapters/cursor.py
  src/promptrek/core/models.py
  tests/unit/adapters/test_cursor.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/test_models.py
Due: black, isort-check, flake8-check, debug-statements

ci: Enhance success criteria and handle unexpected statuses in CI workflow
  .github/workflows/ci.yml
Due: check-yaml

fix: Cursor adapter and UPF models with metadata support (#84)
  gh-pages/user-guide/adapters.md
  src/promptrek/adapters/cursor.py
  src/promptrek/core/models.py
  tests/unit/adapters/test_cursor.py
  tests/unit/adapters/test_cursor_comprehensive.py
  tests/unit/test_models.py
Due: black, isort-check, flake8-check, debug-statements

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Due: check-yaml

feat: Update Universal Prompt Format schemas to enhance content handling and descriptions
  gh-pages/schema/v2.0.json
  gh-pages/schema/v2.1.json
  gh-pages/schema/v3.0.json
Due: none

docs: Enhance documentation with metadata-driven configuration details for Cursor adapter and UPF
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapter-capabilities.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/advanced-features.md
  gh-pages/user-guide/upf-specification.md
Due: none

fix: Improve layout and responsiveness for benefits and CTA sections
  gh-pages/assets/css/style.scss
  gh-pages/index.md
Due: none

ci: remove ci-success job and handle unexpected statuses
  .github/workflows/ci.yml
Due: check-yaml

ci: remove ci-success job from GitHub Actions
  .github/workflows/ci.yml
Due: check-yaml

docs: Improve styling of website
  gh-pages/assets/css/style.scss
Due: none

fix: yaml schemas updated to include major, minor AND patch in URL.
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/fullstack-nextjs.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/python-fastapi.promptrek.yaml
  examples/advanced/rust-cli.promptrek.yaml
  examples/basic/node-api.promptrek.yaml
  examples/basic/react-typescript.promptrek.yaml
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
  gh-pages/quick-start.md
  gh-pages/schema/README.md
  gh-pages/schema/index.md
  gh-pages/schema/v2.0.0.json
  gh-pages/schema/v2.1.0.json
  gh-pages/schema/v3.0.0.json
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  src/promptrek/cli/yaml_writer.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements, promptrek-validate

docs: update schema URLs and version references in UPF specification
  gh-pages/user-guide/upf-specification.md
Due: none

fix: yaml schemas updated to include major, minor AND patch in URL. (#85)
  examples/advanced/data-science-python.promptrek.yaml
  examples/advanced/fullstack-nextjs.promptrek.yaml
  examples/advanced/golang-backend.promptrek.yaml
  examples/advanced/microservices-k8s.promptrek.yaml
  examples/advanced/mobile-react-native.promptrek.yaml
  examples/advanced/monorepo-nx.promptrek.yaml
  examples/advanced/python-fastapi.promptrek.yaml
  examples/advanced/rust-cli.promptrek.yaml
  examples/basic/node-api.promptrek.yaml
  examples/basic/react-typescript.promptrek.yaml
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
  gh-pages/quick-start.md
  gh-pages/schema/README.md
  gh-pages/schema/index.md
  gh-pages/schema/v2.0.0.json
  gh-pages/schema/v2.1.0.json
  gh-pages/schema/v3.0.0.json
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  src/promptrek/cli/yaml_writer.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements, promptrek-validate

docs: Update Continue adapter documentation with file generation behavior and examples
  gh-pages/user-guide/adapters.md
Due: none

fix: Continue adapter with metadata-driven configuration and frontmatter support
  gh-pages/user-guide/adapters.md
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

docs: Update sync feature documentation to clarify file reading behavior and v3.0 format for Continue editor
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/sync.md
Due: none

feat: Add MCP server configuration to project's promptrek config for Git operations
  project.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

docs: Update documentation to include variable substitution examples for project name and author email in v3.0 format
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/upf-specification.md
Due: none

feat: Add Claude-specific patterns to .gitignore and corresponding tests
  .gitignore
  src/promptrek/utils/gitignore.py
  tests/unit/test_gitignore.py
Due: black, isort-check, flake8-check, debug-statements

fix: Improve human-readable name conversion by supporting both kebab-case and snake_case
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

fix: Refactor doc name display logic for improved readability
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

fix: Simplify frontmatter serialization using yaml.safe_dump for improved readability
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

fix: Refactor frontmatter building in ContinueAdapter for improved clarity
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

Update src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

style: linted continue_adapter.py
  src/promptrek/adapters/continue_adapter.py
Due: black, isort-check, flake8-check, debug-statements

docs: remove outdated comment about rendering bug in documentation
  gh-pages/user-guide/upf-specification.md
Due: none

fix: improve Continue IDE file generation and docs (#86)
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/adapters.md
  gh-pages/user-guide/sync.md
  gh-pages/user-guide/upf-specification.md
  project.promptrek.yaml
  src/promptrek/adapters/continue_adapter.py
Due: validate-promptrek-files, black, isort-check, flake8-check, debug-statements, promptrek-validate

feat: Add Claude-specific patterns to .gitignore and corresponding tests (#87)
  .gitignore
  src/promptrek/utils/gitignore.py
  tests/unit/test_gitignore.py
Due: black, isort-check, flake8-check, debug-statements

WIP: Cline editor fixes and improvements
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/mcp_mixin.py
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/core/models.py
  tests/unit/adapters/test_cline.py
  tests/unit/test_mcp_mixin.py
Due: black, isort-check, flake8-check, debug-statements

chore: normalize Git server name to lowercase in project configuration
  project.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

fix: correct formatting of MCP server configuration in project.yaml
  project.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

feat: Introduce user-configs for various editor/user specific configurations.
  .pre-commit-config.yaml
  .pre-commit-hooks.yaml
  GETTING_STARTED.md
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide/advanced-features.md
  project.promptrek.yaml
  src/promptrek/adapters/cline.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/hooks.py
  src/promptrek/cli/commands/init.py
  src/promptrek/cli/commands/migrate.py
  src/promptrek/core/models.py
  src/promptrek/utils/variables.py
  tests/integration/test_advanced_features.py
  tests/integration/test_cli_comprehensive.py
  tests/integration/test_cli_comprehensive_fixed.py
  tests/unit/adapters/test_cline.py
  tests/unit/cli/test_init.py
  tests/unit/test_local_variables.py
  tests/unit/test_migrate.py
Due: validate-promptrek-files, black, isort-check, flake8-check, check-yaml, debug-statements, promptrek-validate

fix: enhance user config tests for cross-platform compatibility and validation
  tests/unit/adapters/test_cline.py
Due: black, isort-check, flake8-check, debug-statements

fix: remove redundant imports and ensure non-interactive mode in local variables tests
  tests/unit/test_local_variables.py
Due: black, isort-check, flake8-check, debug-statements

feat: add user-specific configuration schema and update Cline adapter to include YAML validation directive
  .gitignore
  gh-pages/schema/user-config/v1.0.0.json
  src/promptrek/adapters/cline.py
  tests/unit/adapters/test_cline.py
Due: black, isort-check, flake8-check, debug-statements

Update project.promptrek.yaml
  project.promptrek.yaml
Due: validate-promptrek-files, promptrek-validate

Path conditions:
  validate-promptrek-files: any of: \.promptrek\.ya?ml$
  prevent-generated-files: any of: (?x)(
  # GitHub Copilot files
  ^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|
  # Cursor files
  ^(\.cursorrules|\.cursor/rules/.*\.mdc|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|
  # Continue files
  ^(config\.yaml|\.continue/(config\.json|rules/.*\.md))$|
  # Claude files
  ^(\.claude/.*\.md|CLAUDE\.md)$|
  # Cline files
  ^\.cline-rules/.*\.md$|
  # Other AI editor files
  ^\.ai-prompts/
)

  black: any of: \.py$
  isort-check: any of: \.py$
  flake8-check: any of: \.py$
  check-yaml: any of: \.ya?ml$, but not: \.promptrek\.ya?ml$
  debug-statements: any of: \.py$
  promptrek-validate: any of: \.promptrek\.ya?ml$
  promptrek-prevent-generated: any of: (?x)(^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|^(\.cursorrules|\.cursor/.*|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|^(config\.yaml|\.continue/.*)$|^(\.claude/.*|CLAUDE\.md)$|^\.clinerules/.*$|^\.windsurf/.*$|^\.kiro/.*$|^\.tabnine_commands$|^\.amazonq/.*$|^\.assistant/.*)
  promptrek-check-local-vars: any of: variables\.promptrek\.ya?ml$
