Repository flamingquaks/promptrek: changes, and which pre-commit hooks are due for each by the changed paths.
All: promptrek-validate, promptrek-prevent-generated, promptrek-check-local-vars, black, isort-check, flake8-check, check-yaml, debug-statements

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
  - id: promptrek-validate
    name: Validate PrompTrek files
    entry: uv run promptrek validate
    language: system
    files: \.promptrek\.ya?ml$
    exclude: '\.promptrek/(variables|last-generation)\.promptrek\.ya?ml$'
    pass_filenames: true
    stages:
    - pre-commit
  - id: promptrek-prevent-generated
    name: Prevent committing generated files
    entry: uv run promptrek check-generated
    language: system
    files: (?x)(^\.github/(copilot-instructions\.md|instructions/.*\.instructions\.md|prompts/.*\.prompt\.md)$|^(\.cursorrules|\.cursor/.*|\.cursorignore|\.cursorindexingignore|AGENTS\.md)$|^(config\.yaml|\.continue/.*)$|^(\.claude/.*|CLAUDE\.md)$|^\.clinerules/.*$|^\.windsurf/.*$|^\.kiro/.*$|^\.amazonq/.*$|^\.assistant/.*)
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  - id: promptrek-check-local-vars
    name: Prevent committing local variables
    entry: uv run promptrek check-generated
    language: system
    files: (^variables\.promptrek\.ya?ml$|\.promptrek/variables\.promptrek\.ya?ml$)
    exclude: '^examples/'
    stages:
    - pre-commit
    always_run: false
    pass_filenames: true
  # Basic code formatting and linting (local versions)
  - id: black
    name: black python linting
    entry: uv run black
    language: system
    types: [python]
    args: ["--check", "--diff"]
    pass_filenames: true

  - id: isort-check
    name: Check import sorting with isort
    entry: uv run isort
    args: ["--check", "--diff"]
    language: system
    types: [python]
    pass_filenames: true

  - id: flake8-check
    name: Check code style with flake8
    entry: uv run flake8
    language: system
    types: [python]
    pass_filenames: true

  - id: end-of-file-fixer
    name: Fix end of files
    entry: >
      bash -c 'for file in "$@"; do
      [ -s "$file" ] && [ -z "$(tail -c 1 "$file")" ] || echo >> "$file";
      done' --
    language: system
    types: [text]

  - id: check-yaml
    name: Check YAML
    entry: python -c "import yaml, sys; [yaml.safe_load(open(f)) for f in sys.argv[1:]]"
    language: system
    files: \.ya?ml$
    exclude: \.promptrek\.ya?ml$ 

  - id: check-merge-conflict
    name: Check for merge conflicts
    entry: >
      bash -c 'if grep -rn "^<<<<<<< \|^=======$\|^>>>>>>> " "$@"; then
      echo "Error: Merge conflict markers found"; exit 1; fi' --
    language: system
    types: [text]

  - id: debug-statements
    name: Debug Statements (Python)
    entry: >
      bash -c 'if grep -rn "import pdb\|pdb.set_trace()\|import ipdb\|ipdb.set_trace()" "$@"; then
      echo "Error: Debug statements found"; exit 1; fi' --
    language: system
    files: \.py$

chore: delete accidental file
  ISSUE_111_FIX.md
Due: none

fix: Fix Amazon Q CLI Agents (#112)
  src/promptrek/adapters/amazon_q.py
  tests/unit/adapters/test_amazon_q.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add spec-driven project documents support (Issue #99)
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/specs.py
  src/promptrek/cli/commands/sync.py
  src/promptrek/cli/main.py
  src/promptrek/commands/spec_commands.py
  src/promptrek/core/models.py
  src/promptrek/utils/gitignore.py
  src/promptrek/utils/spec_manager.py
Due: black, isort-check, flake8-check, debug-statements

feat: Implement headless mode support across adapters and CLI
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/commands/hooks.py
  src/promptrek/core/models.py
  src/promptrek/utils/headless.py
  tests/integration/test_headless_flow.py
  tests/unit/test_headless.py
Due: black, isort-check, flake8-check, debug-statements

chore: Add unit tests for spec command generation, spec manager, and models
  README.md
  src/promptrek/cli/commands/specs.py
  src/promptrek/cli/commands/sync.py
  src/promptrek/core/models.py
  src/promptrek/utils/spec_manager.py
  tests/unit/cli/test_specs.py
  tests/unit/test_spec_commands.py
  tests/unit/test_spec_manager.py
  tests/unit/test_spec_models.py
Due: black, isort-check, flake8-check, debug-statements

fix: Update paths in documentation and code to reflect committed spec file locations
  .gitignore
  README.md
  src/promptrek/cli/commands/sync.py
  src/promptrek/cli/main.py
  src/promptrek/commands/spec_commands.py
  src/promptrek/core/models.py
  src/promptrek/utils/gitignore.py
  src/promptrek/utils/spec_manager.py
Due: black, isort-check, flake8-check, debug-statements

feat: improve spec driven tools/functions
  README.md
  gh-pages/index.md
  gh-pages/quick-start.md
  gh-pages/user-guide.md
  gh-pages/user-guide/spec-driven-development.md
  promptrek_spec_command_proposal.md
  src/promptrek/cli/commands/specs.py
  src/promptrek/cli/main.py
  src/promptrek/commands/spec_commands.py
  src/promptrek/core/exceptions.py
  src/promptrek/core/models.py
  src/promptrek/utils/spec_manager.py
  tests/unit/cli/test_specs.py
  tests/unit/test_spec_commands.py
  tests/unit/test_spec_manager.py
Due: black, isort-check, flake8-check, debug-statements

feat(migrate): Migrate Promptrek to latest schema version 3.1.0
  examples/dynamic-variables/project.promptrek.yaml
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
  src/promptrek/cli/commands/migrate.py
  src/promptrek/cli/interactive.py
  tests/unit/test_migrate.py
Due: promptrek-validate, black, isort-check, flake8-check, debug-statements

fix: Update commands and documentation to use dynamic editor references
  project.promptrek.yaml
  pyproject.toml
  src/promptrek/cli/commands/generate.py
  src/promptrek/commands/spec_commands.py
Due: promptrek-validate, black, isort-check, flake8-check, debug-statements

fix: Update schema version in migration tests to 3.1.0
  pyproject.toml
  tests/integration/test_plugins_v21.py
Due: black, isort-check, flake8-check, debug-statements

Apply suggestions from code review
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  src/promptrek/cli/interactive.py
Due: promptrek-validate, black, isort-check, flake8-check, debug-statements

feat: Add interactive workflows for listing and exporting spec documents
  src/promptrek/cli/interactive.py
Due: black, isort-check, flake8-check, debug-statements

feat: Enhance editor selection in refresh workflow and update tests for show_help function
  src/promptrek/cli/interactive.py
  tests/unit/cli/test_interactive.py
Due: black, isort-check, flake8-check, debug-statements

tests: Add comprehensive tests for new interactive CLI workflows
  tests/unit/cli/test_interactive_new_workflows.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add Universal Spec Format (USF) schema files and update spec manager to include documentation comments
  gh-pages/schema/README.md
  gh-pages/schema/spec/README.md
  gh-pages/schema/spec/v1.0.0.json
  gh-pages/schema/spec/v1.0.json
  src/promptrek/utils/spec_manager.py
Due: black, isort-check, flake8-check, debug-statements

fix: Improve Agent Headless mode with git verification and backup
  src/promptrek/adapters/claude.py
Due: black, isort-check, flake8-check, debug-statements

Add comprehensive Universal Plugin Format proposal
  UNIVERSAL_PLUGIN_FORMAT_PROPOSAL.md
Due: none

feat: Update .gitignore to exclude PrompTrek editor-specific generated files and enhance project documentation with Universal Spec Format (USF) details
  .gitignore
  project.promptrek.yaml
Due: promptrek-validate

test: Update assertion in TestGetSpecCommands to check for 'Approach' in prompt
  src/promptrek/adapters/claude.py
  src/promptrek/commands/spec_commands.py
  tests/unit/test_spec_commands.py
Due: black, isort-check, flake8-check, debug-statements

fix: Update documentation links in README and YAML files to point to the new user guide
  gh-pages/schema/spec/README.md
  project.promptrek.yaml
  src/promptrek/utils/spec_manager.py
Due: promptrek-validate, black, isort-check, flake8-check, debug-statements

feat: Update PrompTrek UPF header comments for better clarity
  src/promptrek/cli/yaml_writer.py
  tests/unit/test_yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

feat: Add PrompTrek UPF header comments to generated YAML files
  poetry.lock
  src/promptrek/cli/yaml_writer.py
  tests/unit/test_yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

chore: remove accidentally added poetry.lock
  poetry.lock
Due: none

fix: update coverage path and bump black and pytokens versions
  pyproject.toml
  uv.lock
Due: none

fix: Make GitHub Action PR labeling more specific
  .github/scripts/determine_labels.py
  .github/workflows/auto-label.yml
Due: black, isort-check, flake8-check, check-yaml, debug-statements

Delete promptrek_spec_command_proposal.md
  promptrek_spec_command_proposal.md
Due: none

fix: remove pre-v3.1.0 UPF schema implementation of spec (locked to ≥3.1.0)
  src/promptrek/adapters/amazon_q.py
  src/promptrek/adapters/claude.py
  src/promptrek/adapters/cline.py
  src/promptrek/adapters/continue_adapter.py
  src/promptrek/adapters/copilot.py
  src/promptrek/adapters/cursor.py
  src/promptrek/adapters/jetbrains.py
  src/promptrek/adapters/kiro.py
  src/promptrek/adapters/spec_mixin.py
  src/promptrek/adapters/windsurf.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/core/models.py
  tests/unit/adapters/test_amazon_q.py
  tests/unit/adapters/test_claude.py
  tests/unit/adapters/test_cline.py
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_copilot.py
  tests/unit/adapters/test_cursor.py
  tests/unit/adapters/test_jetbrains.py
  tests/unit/adapters/test_kiro.py
  tests/unit/adapters/test_spec_mixin.py
  tests/unit/adapters/test_windsurf.py
  tests/unit/cli/test_generate_comprehensive.py
  tests/unit/test_spec_commands.py
Due: black, isort-check, flake8-check, debug-statements

fix: update comments and improve output formatting in various files
  src/promptrek/adapters/spec_mixin.py
  src/promptrek/cli/commands/generate.py
  src/promptrek/cli/interactive.py
  src/promptrek/utils/spec_manager.py
  tests/unit/adapters/test_base_adapter.py
  tests/unit/adapters/test_claude.py
  tests/unit/adapters/test_continue.py
  tests/unit/adapters/test_copilot.py
  tests/unit/adapters/test_spec_mixin.py
  tests/unit/cli/test_interactive_new_workflows.py
  tests/unit/cli/test_specs.py
  tests/unit/test_spec_commands.py
  tests/unit/test_spec_manager.py
Due: black, isort-check, flake8-check, debug-statements

Update .github/scripts/determine_labels.py
  .github/scripts/determine_labels.py
Due: black, isort-check, flake8-check, debug-statements

Apply suggestions from code review
  src/promptrek/cli/yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

style: fixed formatting
  src/promptrek/cli/yaml_writer.py
  tests/unit/test_yaml_writer.py
Due: black, isort-check, flake8-check, debug-statements

feat: add comments to UPF header to provide links to documentation (#117)
  pyproject.toml
  src/promptrek/cli/yaml_writer.py
  tests/unit/test_yaml_writer.py
  uv.lock
Due: black, isort-check, flake8-check, debug-statements

fix: Make GitHub Action PR labeling more specific (#118)
  .github/scripts/determine_labels.py
  .github/workflows/auto-label.yml
Due: black, isort-check, flake8-check, check-yaml, debug-statements

chore: remove outdated example configurations for v2.1 plugins
  examples/v21-plugins/README.md
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
Due: promptrek-validate

Revert "chore: remove outdated example configurations for v2.1 plugins"
  examples/v21-plugins/README.md
  examples/v21-plugins/autonomous-agents.promptrek.yaml
  examples/v21-plugins/complete-example.promptrek.yaml
  examples/v21-plugins/continue-unified.promptrek.yaml
  examples/v21-plugins/custom-commands.promptrek.yaml
  examples/v21-plugins/mcp-servers.promptrek.yaml
Due: promptrek-validate
